<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/index.css" %}"><title>Посетители</title>
</head>
<body>
<center>
    <div class="card">
        <font size="7" class="card-title"><span>Информация о пользователях</span></font>
       <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">Посетители</li>
            </ul>
       </div>
    {% if text.count > 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Результат</th>
        </tr>
        </thead>
        {% for history in text %}
        <tbody>
        <tr class="table-info">
            <th scope="row"> {{history.author}}</th>
            <td>{{history.result}}</td>
            <td><a href={% url 'update_client' history.id %}>Изменить</a> | <a href="delete_client/{{client.id}}">Удалить</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {{% endif %}
        {% for hystory in stories %}
        {{ history.full_name|upper }} <br/>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a href="http://127.0.0.1:8000/list/create_client" class="nav-link active" >Внести посетителя</a>
                </li>
            </ul>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
</center>
</body>

</html>