*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 80%;
}

body:before, body:after {
  content: "";
  display: block;
  height: 42%;
  background: #bbbebf;
}

body:after {
  background: #050e2d;
}
.btn{
  color:#050e2d;
  font-size:20px;
  background:transparent;
  cursor:pointer;
  border:1px solid #bbbebf;
  width:150px;
  height:40px;
  left:50%;
  top:50%;
  text-align:center;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-0%,-0%);
   -webkit-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
 overflow:hidden;
}


.btn::before{
  content:'';
  position:absolute;
  top:-130px;
  margin:auto;
  display:block;
  border-radius:50%;
  width:300px;
  height:300px;
  left:-75px;
  -webkit-transition:box-shadow .6s ease-in-out;
  transition:box-shadow .6s ease-in-out;
  z-index:-1;

}


.btn:hover{
  color:#fff;
}


.btn:hover::before{
  box-shadow:inset 0 0 0 160px #050e2d;
}